################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.json
*.suo
*.cs
*.cache
*.editorconfig
*.txt
*.props
*.targets
*.v2
*.bin
*.config
*.dll
*.exe
*.pdb
*.Up2Date
*.BuildWithSkipAnalyzers
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/853f522f-ceb5-4003-903a-0555f366e591
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/907dd929-9b33-41b4-ac59-cabc91e6fddc
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/8ac3367b-1da0-465d-b880-8137f68cb1da
