################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.json
*.suo
*.cs
*.cache
*.editorconfig
*.txt
*.props
*.targets
*.v2
*.bin
*.config
*.dll
*.exe
*.pdb
*.Up2Date
*.BuildWithSkipAnalyzers
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/853f522f-ceb5-4003-903a-0555f366e591
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/907dd929-9b33-41b4-ac59-cabc91e6fddc
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/8ac3367b-1da0-465d-b880-8137f68cb1da
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/370b4bf1-8153-4306-8500-b6acfbdf2e74
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/4f58032c-b825-4ffa-814d-d7b2283f634e
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/59176ae6-17c5-4236-8f67-593d82dfde7f
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/04b7b0db-e108-43bb-baf0-9ad9efb10176
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/00a3f27f-7697-458a-b387-c75a3f94d268
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/57c86b8a-2b62-4752-9a5b-dac98d684d12
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/02bb41d7-5dbb-4514-ab94-dc78dd31fa57
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/4f245fca-9300-4a7e-9e27-fb3a28e33ca0
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/b7185ded-5b71-46ac-89ec-1c292bebcc5e
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/5fa97798-3086-4b1a-b5c4-c90e582e7c47
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/46adb80f-2ba7-4588-a452-871c060b8d17
