################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.json
*.suo
*.cs
*.cache
*.editorconfig
*.txt
*.props
*.targets
*.v2
*.bin
*.config
*.dll
*.exe
*.pdb
*.Up2Date
*.BuildWithSkipAnalyzers
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/853f522f-ceb5-4003-903a-0555f366e591
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/907dd929-9b33-41b4-ac59-cabc91e6fddc
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/8ac3367b-1da0-465d-b880-8137f68cb1da
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/370b4bf1-8153-4306-8500-b6acfbdf2e74
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/4f58032c-b825-4ffa-814d-d7b2283f634e
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/59176ae6-17c5-4236-8f67-593d82dfde7f
/.vs/MyMoneyMate/copilot-chat/0458a2ff/sessions/04b7b0db-e108-43bb-baf0-9ad9efb10176
