/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.toolbar-space {
  margin-top: 5px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}